<section class="authentication">
    <div class="authentication__header">
        <img class="authentication__logo" src="public/images/logo_plantbot_full.svg" alt="PlantBot Logo">
        <div class="authentication__instructions">Log out of your PlantBot account</div>
    </div>

    <form class="authentication__body" action="" id="logout" method="post">
        <div class="authentication__error" id="general-error"></div>
        <div class="authentication__form-row">
            <input class="authentication__submit" type="submit" value="Log out">
        </div>
    </form>
</section>

<% scripts=[ '/public/js/logout.js' ] %>