<section class="authentication">
    <div class="authentication__header">
        <img class="authentication__logo" src="public/images/logo_plantbot_full.svg" alt="PlantBot Logo">
        <div class="authentication__instructions">Create your PlantBot account</div>
    </div>

    <form class="authentication__body" action="" id="register" method="post">
        <div class="authentication__error" id="general-error"></div>
        <div class="authentication__form-row">
            <label for="email">Email-address</label>
            <input type="text" name="email" id="email">
            <div class="authentication__error" id="email-error"></div>
        </div>
        <div class="authentication__form-row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <div class="authentication__error" id="password-error"></div>
        </div>
        <div class="authentication__form-row">
            <input class="authentication__submit" type="submit" value="Register">
        </div>
        <div class="authentication__form-row">
            <div class="authentication__link">Already have an account? <a href="/login">log in</a></div>
        </div>
    </form>

</section>



<% scripts=[ '/public/js/register.js' ] %>